<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gjf.lovezzu">




    <application
        android:name=".entity.CheckLoginApplication"
        android:allowBackup="true"
        android:icon="@drawable/lovezuu_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UserLoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.UserSettingActivity" />
        <activity
            android:name=".activity.TopicTalkActivity"
            android:launchMode="singleTask" />
        <activity

            android:name="me.iwf.photopicker.PhotoPickerActivity" />
      
        <activity
            android:name=".activity.palytogether.PlayTogetherActivity"
            android:launchMode="singleTask" />
      
        <activity android:name=".activity.saylvoeActivity.SayLoveActivity"/>
        <activity android:name=".activity.saylvoeActivity.IWantSayLoveActivity"/>
        <activity android:name=".activity.taoyu.TaoyuActivity"/>
        <activity android:name=".activity.schoolnewsActivity.SchoolNewsSubjectActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.palytogether.PlayGroupActivity">
            <intent-filter>
                <action android:name="com.playGroup"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.play.MY_CATEGROY"/>

            </intent-filter>
        </activity>
        <activity android:name=".activity.palytogether.PlaySchoolActivity"
            android:windowSoftInputMode="adjustPan"/>
        <service android:name=".service.CheckLogin" />
        <activity android:name=".activity.taoyu.TaoyuSearchActivity"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>
