<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gjf.lovezzu">


    <application
        android:name=".entity.CheckLoginApplication"
        android:allowBackup="true"
        android:icon="@drawable/lovezuu_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="cpj2xarlc39vn" />

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:exported="true"
            android:process=":ipc" />

        <service android:name="io.rong.imlib.ReConnectService"
            android:exported="true"/>

        <receiver android:name="io.rong.imlib.ConnectChangeReceiver"
            android:exported="true"/>

        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />
        <!-- imlib config end -->


        <!--必选： SDK 核心功能-->
        <!--第三方相关,向第三方推送服务请求 token 的服务 -->
        <service
            android:name="io.rong.push.core.PushRegistrationService"
            android:exported="false">
        </service>

        <!-- 处理 push 消息相关的服务 -->
        <service
            android:name="io.rong.push.core.MessageHandleService"
            android:exported="true">
        </service>

        <!-- push服务 -->
        <service
            android:name="io.rong.push.PushService"
            android:exported="true"
            android:process="io.rong.push">  <!-- push进程，可以改名 -->
        </service>

        <!-- push 相关事件接收器 -->
        <receiver
            android:name="io.rong.push.PushReceiver"
            android:process="io.rong.push">   <!-- 此处进程可以改名，名称需要和PushService所在进程统一 -->
            <!-- 心跳事件 -->
            <intent-filter>
                <action android:name="io.rong.push.intent.action.HEART_BEAT" />
            </intent-filter>
            <!-- 网络变动事件 -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- 部分用户事件 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserLoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.UserSettingActivity" />
        <activity
            android:name=".activity.TopicTalkActivity"
            android:launchMode="singleTask" />
        <activity

            android:name="me.iwf.photopicker.PhotoPickerActivity" />

        <activity
            android:name=".activity.palytogether.PlayTogetherActivity"
            android:launchMode="singleTask" />

        <activity android:name=".activity.saylvoeActivity.SayLoveActivity" />
        <activity android:name=".activity.saylvoeActivity.IWantSayLoveActivity" />
        <activity android:name=".activity.taoyu.TaoyuActivity" />
        <activity
            android:name=".activity.schoolnewsActivity.SchoolNewsSubjectActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.palytogether.PlayGroupActivity">
            <intent-filter>
                <action android:name="com.playGroup" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.play.MY_CATEGROY" />

            </intent-filter>
        </activity>
        <activity android:name=".activity.palytogether.PlayGroupListActivity" />
        <activity
            android:name=".activity.palytogether.PlaySchoolActivity"
            android:windowSoftInputMode="adjustPan" />

        <service android:name=".service.CheckLogin" />

        <activity android:name=".activity.taoyu.TaoyuSearchActivity" />
        <activity android:name=".activity.taoyu.TaoyuPublishGoodActivity" />
        <activity android:name=".activity.treehole.TreeHoleActivity" />
        <activity android:name=".activity.parttimejob.PartTimeJobActivity" />
        <activity
            android:name=".activity.parttimejob.AddJopActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.parttimejob.JobInfoActivity" />
        <activity
            android:name=".activity.treehole.AddTreeHoleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.schoolnewsActivity.SchoolNewsWebView" />

        <!--会话列表-->
        <activity
            android:name=".fragment.friends.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.gjf.lovezzu"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!--会话界面-->
        <activity
            android:name=".fragment.friends.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.gjf.lovezzu"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>


    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.gjf.lovezzu.FileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/rc_file_path" />
    </provider>
</manifest>
